body{
    margin: 0;
    padding: 0;
    height: 100%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.First_Line{
    margin-top: 80px;
    font-family: Poppins-Regular;
    font-weight: 300;
    font-size: 36px;
    color:#4D4F62;
}

.Second_Line{
    margin-top: -40px;
    font-family: Poppins-Bold;
    font-weight: 600;
    font-size: 36px;
    color:#4D4F62;
}

.Third_Line{
    margin-top: -25px;
    font-family: Poppins-Regular;
    font-weight: 400;
    color:#4D4F62;
}

.Cards-Group{
    margin-top: 40px;
}