body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.Title-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.First_Line{
    margin-top: 80px;
    font-family: Poppins-ExtraLight;
    font-weight: 300;
    font-size: 36px;
    color:#4D4F62;
}

.Second_Line{
    margin-top: -40px;
    font-family: Poppins-Bold;
    font-weight: 600;
    font-size: 36px;
    color:#4D4F62;
}

.Third_Line{
    margin-top: -25px;
    font-family: Poppins-Regular;
    font-weight: 400;
    color:#4D4F62;
}

.Card-1,
.Card-2,
.Card-3{
    box-sizing: border-box;
    width: 350px;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 32px;
}

.Card1-title,
.Card2-title,
.Card3-title{
    font-family: Poppins-Bold;
    font-weight: 600;
    color:#4D4F62;
    letter-spacing: 0px;
}

.Card-1,
.Card-2,
.Card-3 p{
    font-family: Poppins-Regular;
    font-weight: 300;
    color:#4D4F62;
    letter-spacing: 0.09px;
}
