@font-face {
    font-family: "Poppins-Regular";
    src: url("../Davaleba-8/Fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../Davaleba-8/Fonts/Poppins/Poppins-Bold.ttf");
}