body{
    margin: 0;
    padding: 0;
    height: 100%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.First_Line{
    margin-top: 80px;
    font-family: Poppins-Regular;
    font-weight: 300;
}

.Second_Line{
    margin: 5px;
    font-family: Poppins-Bold;
    font-weight: 600;
}

.Third_Line{
    margin: 10px;
    font-family: Poppins-Regular;
}s